.app-header {
  align-items: flex-end;
}
.app-header h1 {
  flex-grow: 1;
}
.app-header h2 {
  font-size: 1rem;
  color: grey;
}
@media screen and (max-width: 435px) {
  .app-header {
    flex-direction: column;
    align-items: center;
  }
}
